//
// Initialization
//

// =============================================================================
// Variables
// =============================================================================

// Layout
$page_inner_maxwidth: 1200px;
// Responsive breakpoints, change these as you see fit
$mobile_menu_min_width: 850px;
$medium_screen_width: 800px;
$small_screen_width: 640px;
$micro_screen_width: 480px;
$nano_screen_width: 320px;

//
// Font faces, stacks and sizes.
//
$base-font-size:   16px;
$base-line-height: 1.4;

// The following font family declarations are based on the Microsoft core web
// fonts which are common fonts available on most computer systems. The DejaVu
// and Nimbus Sans fonts are commonly available on Linux systems where the MS
// fonts are less common. Tahoma and Helvetica are also widely available.

// First, let's create some font stacks.
$my_font: "Open Sans", Helvetica, Arial, sans-serif;

// sans serif fonts
$verdana:         Verdana, Tahoma, "DejaVu Sans", sans-serif;
$tahoma:          Tahoma, Verdana, "DejaVu Sans", sans-serif;
$helvetica:       Helvetica, Arial, "Nimbus Sans L", sans-serif;
$arial:           Arial, Helvetica, "Nimbus Sans L", sans-serif;
// serif fonts
$times-new-roman: "Times New Roman", Times, Georgia, "DejaVu Serif", serif;
$times:           Times, "Times New Roman", Georgia, "DejaVu Serif", serif;
$georgia:         Georgia, "Times New Roman", "DejaVu Serif", serif;

// For an explanation of why "monospace" is at the end of this list, see
// http://meyerweb.com/eric/thoughts/2010/02/12/fixed-monospace-sizing/
$courier:         "Courier New", "DejaVu Sans Mono", monospace, sans-serif;

// Now create some variables for the font stacks we want to use on this site.
$base-font-family: $my_font; // The font family set on the html element.
$font-monospace:   $courier;


// theme colors
$theme_grey: #666;
$theme_grey_light: #999;
$theme_grey_dark: #333;
// color binding
$link_color: $theme_grey;
$link_hover_color: $theme_grey_light;
$body_background: #FFF;
$body_color: $theme_grey_dark;

// =============================================================================
// Partials to be shared with all .scss files.
// =============================================================================
@import "mixins";
